.mainDiv {
    margin: 0 auto;
    width: 600px;
    padding-left: 50px;
}
.mainDivBackgr {
	 margin: 0 auto;
    width: 600px;
    padding-left: 50px;
    background-color:  #999999;
}
.textLabel {
    width: 100px;
    display: inline-block;
}

.div2 {
   margin-left:50px;
}
